<div id="about">
    <h3>About Me</h3>
    <p>Brazilian native now living in Chicago, Illinois. Data Science student in the University of Michigan College of Engineering. Experienced in implementing ML models (Neural Nets) on equity data. Passion for intersection of software x statistics. Learner. Reader. Family First.</p>
</div>