<div class="blog-container">
    <a href="/blog">Go Back</a>
    <h1 class="blog-title-expanded">{{blog.title}}</h1>
    <p>{{blog.preview}}</p>
    <hr>
    {{{blog.content}}}
</div>

<style>
    .blog-title-expanded {
        font-size: 48px;
    }
</style>